/* Albert Sans */

@font-face {
    font-family: "Albert Sans";
    src: url("https://assets.bassemusic.com/fonts/albertsans/variable.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Albert Sans";
    src: url("https://assets.bassemusic.com/fonts/albertsans/italic.ttf");
    font-style: italic;
}

/* Stretch Pro */

@font-face {
    font-family: "Stretch Pro";
    src: url("https://assets.bassemusic.com/fonts/stretchpro/regular.otf");
}

/* Root (Applies to both themes) */

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Typography */
    --type-display: "Stretch Pro", Helvetica, sans-serif;
    --type-normal: "Albert Sans", Helvetica, sans-serif;
    /* Typography Size */
    --type-size-12: 12px;
    --type-size-14: 14px;
    --type-size-16: 16px;
    --type-size-18: 18px;
    --type-size-22: 22px;
    --type-size-24: 24px;
    --type-size-28: 28px;
    --type-size-32: 32px;
    --type-size-36: 36px;
    --type-size-45: 45px;
    --type-size-57: 57px;
}

.navcontent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img {
    height: 50px;
    padding: 20px;
}

h1 {
    font-weight: 400;
    font-size: var(--type-size-45);
    font-family: var(--type-display);
}

p {
    font-weight: 400;
    font-size: var(--type-size-22);
    font-family: var(--type-normal);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: var(--type-size-22);
    font-family: var(--type-normal);
    transition: background 200ms, color 200ms, opacity 200ms;
}

button.side {
    margin-right: 10px;
}

.text-primary {
    color: var(--primary);
}

button.primary {
    color: var(--on-primary-container);
    background-color: var(--primary-container);
}

button.primary:hover {
    color: var(--on-primary);
    background-color: var(--primary);
}

button.secondary.invisible {
    color: var(--secondary);
    background: transparent;
}

button.secondary.invisible:hover {
    color: var(--on-secondary-container);
    background-color: var(--secondary-container);
}

button.primary:active {
    opacity: 0.7;
}

button.secondary:active {
    opacity: 0.7;
}

.nolig {
    font-variant-ligatures: none;
}

.column {
    float: left;
    width: 50%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column img {
    width: 100%;
}

/* Night Theme (Default) */

[theme=night] {
    /* Primary */
    --primary: #7BDA9D;
    --on-primary: #00391D;
    --primary-container: #00522D;
    --on-primary-container: #97F7B7;
    /* Secondary */
    --secondary: #B6CCB9;
    --on-secondary: #223527;
    --secondary-container: #384B3D;
    --on-secondary-container: #D1E8D4;
    /* Tertiary */
    --tertiary: #A3CDDA;
    --on-tertiary: #023640;
    --tertiary-container: #214C57;
    --on-tertiary-container: #BEEAF7;
    /* Error */
    --error: #FFB4AB;
    --on-error: #690005;
    --error-container: #93000A;
    --on-error-container: #FFB4AB;
    /* Grey */
    --background: #191C1A;
    --on-background: #E1E3DE;
    --surface-variant: #414942;
    --on-surface-variant: #C0C9BF;
    --outline: #8B938A;
}

body[theme="night"] {
    color: var(--on-background);
    background-image: url("https://assets.bassemusic.com/images/sunset (blurred).png");
    background-attachment: fixed;
    background-size: cover;
    /* background-color: var(--background); */
}

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background);
}

::-webkit-scrollbar-track {
    border-radius: 100px;
    background: var(--on-secondary);
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--secondary-container);
}

/* Night Theme */
